/* Colors (gruvbox) */
@define-color black     #282a36;
@define-color red       #f38ba8;
@define-color green     #a6e3a1;
@define-color yellow    #f1fa8c;
@define-color blue      #6272a4;
@define-color purple    #cba6f7;
@define-color aqua      #94e2d5;
@define-color gray      #44475a;
@define-color brgray    #928374;
@define-color brred     #fb4934;
@define-color brgreen   #b8bb26;
@define-color bryellow  #f9e2af;
@define-color brblue    #83a598;
@define-color brpurple  #eba0ac;
@define-color braqua    #89dceb;
@define-color white     #cdd6f4;
@define-color bg2       #2b2b40;

@define-color warning   @bryellow;
@define-color critical  @red;
@define-color mode      @black;
@define-color unfocused @bg2;
@define-color focused   @braqua;
@define-color inactive  @purple;
@define-color sound     @brpurple;
@define-color memory    @braqua;
@define-color cpu       @green;
@define-color temp      @brgreen;
@define-color layout    @bryellow;
@define-color date      @yellow;
@define-color time      @white;
@define-color temp      @black;

/* Reset all styles */
* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
    box-shadow: none;
    text-shadow: none;
}

/* The whole bar */
#waybar {
    background: rgba(30, 30, 46, 1); /* #282828e0 */
    color: @white;
    /* font-family: JetBrains Mono Regular Nerd Font Complete; */
     font-family: "JetBrainsMono Nerd Font"; 
    font-size: 10pt;
    font-weight: bold
}

/* Each module */
#clock,
#cpu,
#memory,
#mode,
#temperature,
#custom-alsa,
#sndio,
#tray {
    padding-left: 8pt;
    padding-right: 8pt;
}

/* Current sway mode (resize etc) */
#mode {
    color: @white;
    background: @mode;
}

/* Workspaces stuff */
#workspaces button {
    /*font-weight: bold;*/
    padding-left: 2pt;
    padding-right: 2pt;
    color: @white;
    background: @unfocused;
}

/* Inactive (on unfocused output) */
#workspaces button.visible {
    color: @white;
    background: @inactive;
}

/* Active (on focused output) */
#workspaces button.focused {
    color: @black;
    background: @focused;
}

/* Contains an urgent window */
#workspaces button.urgent {
    color: @black;
    background: @warning;
}

/* Style when cursor is on the button */
#workspaces button:hover {
    background: @black;
    color: @white;
}

#window {
    margin-right: 35pt;
    margin-left: 35pt;
}

#wireplumber,
#sndio {
    background: @sound;
    color: @black;
}

#temperature {
  background: @temp;
  color: @white;
}

#network {
    background: @network;
    color: @black;
}

#memory {
    background: @memory;
    color: @black;
}

#cpu {
    background: @cpu;
    color: @black;
}

#clock.date {
    background: @date;
    color: @black;
}

#clock.time {
    background: @time;
    color: @black;
}

#custom-arrow1 {
    font-size: 11pt;
    color: @sound;
    background: transparent;
}

#custom-arrow2 {
    font-size: 11pt;
    color: @memory;
    background: @sound;
}

#custom-arrow3 {
    font-size: 11pt;
    color: @cpu;
    background: @memory;
}

#custom-arrow4 {
    font-size: 11pt;
    color: @date;
    background: @cpu;
}

#custom-arrow5 {
    font-size: 11pt;
    color: @time;
    background: @date;
}

#custom-arrow6 {
  font-size: 11pt;
	color: @temp;
	background: @white;
}

#custom-arrow7 {
  font-size: 11pt;
  color: @black;
  background: @tray;
}

